.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    justify-items: center;
}

.country-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
}

.country-card-img-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-card img {
    width: 250px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
}

.icon-country-card-favorite {
    position: relative;
    width: 100%;
    height: auto;
}

.icon-country-card-favorite button {
    position: absolute;
    top: 0;
    right: 0;
}