.favorites-card-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: var(--text-color);
}

.favorites-card-container h2{
    margin-bottom: 3vh;
}