.SearchBar {
    width: 100%;
}

form{
    width: 100%;
}

form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 2px 8px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px 8px 0 0;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

form input:focus{
    outline: none;
    background-color: var(--third-color);
    border-bottom: 2.5px solid var(--primary-color);
}

