.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100vw;
}

form{
    width: 80%; 
    max-width: 1200px;
}

form input {
    width: 100%; 
    padding: 10px;
    font-size: 1rem; 
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    box-sizing: border-box; 
}

form input:focus{
    outline: none;
    background-color: var(--third-color);
    border-bottom: 2.5px solid var(--primary-color);
}

