.sort-select {
    width: auto;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 2px 8px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px 8px 0 0;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.sort-select option {
    background-color: var(--background-color);
    color: var(--text-color-contrast);
}

.sort-select:focus {
    outline: none;
    border-color: var(--primary-color);
    background-color: var(--segundary-color);
}

@media (max-width: 390px) {

    .sort-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: fit-content; 
}

    .custom-select {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .sort-select {
        margin: 0 auto;
        width: 150px;
        height: 40px;
        font-size: 1rem;
        padding: 5px;
    }
}