* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: white;
  --primary-color: #009EDB;
  --segundary-color: #8DD3EF;
  --third-color: #8dd3ef4f;
  --text-color: #000;
  --text-color-contrast: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --background-color: #131313;
  --primary-color: #FFD600;
  --segundary-color: #FFF59D;
  --third-color: #fff59d4f;
  --text-color: #fff;
  --text-color-contrast: #131313;
  --title-color: #fff;
  --shadow-color: rgba(255, 255, 255, 0.15);
}

.dark_mode_label {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--third-color);
  border-radius: 20px;
  padding: 6px 6px;
  transition: background 0.3s;
}

.dark_mode_slider {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: color 0.3s;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif, 'Roboto';
}

nav {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 4fr 1fr;
  box-shadow: 0px 4px 6px var(--shadow-color);
  margin-bottom: 3vh;
  height: 8vh;
}

nav p {
  font-size: 1.1rem;
  color: var(--text-color);
  cursor: pointer;
}

nav p svg {
  color: var(--primary-color);
}

nav p:hover {
  text-decoration: underline;
  color: var(--segundary-color);
}

nav .center-menu-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.container-typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.text-typewriter {
  justify-content: center;
  font-size: 3rem;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 29ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s, cursor .4s step-end infinite alternate;
  animation-fill-mode: forwards;
  margin-bottom: 3vh;
  color: var(--title-color);
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 29ch;
  }
}

.search-sort-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.search-sort-container>.search-sort {
  display: flex;
  width: 80%;
  gap: 3vw;
}

.search-sort-container>.search-sort>.SearchBar {
  flex: 5;
}

.search-sort-container>.search-sort>.sort-container {
  flex: 2;
}

.search-sort-container>.search-sort>.btn-go-to-favorites {
  flex: 1;
}

.search-sort-container>.search-sort>.btn-toggle-view {
  flex: .3;
}

.search-sort {
  display: inline-flex;
  align-items: center;
  gap: 5vw;
  margin: 0 auto;
}

.btn-go-to-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
  border: none;
  width: fit-content;
  height: 40px;
  padding: .3vw;
  font-size: 1rem;
}

.btn-go-to-favorites span {
  margin-right: .8vw;
}

.icon-go-to-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
  height: 100%;
  width: 100%;
  padding: .3vw;
}

.btn-toggle-view {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.btn-toggle-view svg {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.table-container-countries {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  top: 0;
  left: 0;
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 1200px;
}

thead th {
  line-height: 3rem;
}

th {
  background-color: var(--primary-color);
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

td {
  text-align: center;
}

tbody tr:nth-child(1) {
  animation-delay: 0s;
}

tbody tr:nth-child(n) {
  animation-delay: 0.4s;
}

.fade-in-country-list {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.fade-in-country-card {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

th,
td {
  border-bottom: 1px solid #ddd;
  font-family: 'Roboto';
}

tr:hover {
  background-color: var(--segundary-color);
  color: var(--text-color-contrast);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .8vw;
  align-items: center;
  text-align: center;
  margin-top: 6vh;
  box-shadow: 0 -4px 6px var(--shadow-color);
  padding: 2vh;
  color: var(--text-color);
}

.githubIcon {
  color: var(--text-color);
  width: 6vw;
  height: 6vh;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:visited {
  text-decoration: none;
  color: inherit;
}

footer .linkedinIcon {
  width: 6vw;
  height: 6vh;
  color: #1976d2;
}

.btn-go-to-top {
  position: fixed;
  top: 90%;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--shadow-color);
  z-index: 9999;
}

.btn-go-to-top:hover {
  background-color: var(--segundary-color);
}

/* Media Queries */

@media screen and (max-width: 390px) {

  .center-menu-itens,
  .end-menu-itens {
    flex-direction: column;
    gap: 2vh;
  }

  .end-menu-itens {
    margin-top: 2vh;
    margin-bottom: .5vh;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100vw;
    background: var(--background-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    z-index: 10;
    flex-direction: column;
  }

  .dropdown-menu.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
    justify-self: end;
    margin-right: 2vw;
  }

  nav {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .brand {
    justify-self: start;
    margin-left: 2vw;
  }

  .text-typewriter {
    font-size: 1.6rem;
    letter-spacing: 2px;
    width: 24ch;
    border-right: 5px solid;
    animation: typing 1s, cursor .4s step-end infinite alternate;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 24ch;
    }
  }

  .table-container-countries {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    padding: 0 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  thead th {
    line-height: 2rem;
    line-height: 2rem;
    text-align: center;
    padding: 0.5rem;
  }

  tbody td {
    text-align: center;
    padding: 0.5rem;
    word-wrap: nowrap;
    vertical-align: middle;
  }

  th,
  td {
    display: table-cell;
    white-space: break-word;
    font-size: 0.8rem;
  }

  td img {
    height: 4rem;
    width: 4rem;
  }

  .btn-go-to-top {
  top: 55%;
  
}
}